.like-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
 }
 .like-button {
   border-radius: 10px;
    border: none; 
    outline: none;
    background-color: transparent;
    font-size: 10px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 10px 20px;
    border: 2px solid #333;
    margin-left: 300px;
 }
 .like-button:hover {
    color: #fff;
    background-color: #333;
 }
 .like-button.liked {
    color: #ff69b4;
    border-color: #ff69b4;
 }