.display-posts {
  display:flex;
  flex-direction: column;
  max-width: 30px;
  position: center;
  
  border-color: black;
  border: 5px solid #ccc;
  border-radius: 20px;
  margin-left: 300px;
  margin-bottom: 40px;
  padding-inline-end: 850px;
  padding-inline-start: 10px;
    
}
    
.display-posts tr{
    font-size: small;
    font-weight: bold;
    font-family: monospace;
    
    
}

.display-posts th {
  color:blue;
  font-size: larger;
  font-style: italic;
}
 