.display-posts {
  display:flex;
  flex-direction: column;
  max-width: 30px;
  position: center;
  margin-inline: 10px;
  border-color: black;
  border: 5px solid #ccc;
  border-radius: 10px;
  margin-left: 300px;
  margin-bottom: 20px;
  padding-inline-end: 850px;
  padding-inline-start: 10px;
    
}
    
.display-posts tr{
    font-size: smaller;
    
    
}
 