.user-post {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto; 
  padding: 20px; 
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: aliceblue;
}

.user-post label {
  font-weight: bold;
  margin-bottom: 4px;
}

.user-post input {
  padding: 5px;
  margin-bottom: 10px;
}

.user-post button {
  padding: 8px 12px;
  background-color: rgb(22, 135, 235);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  align-self: flex-start; 
  width: fit-content; 
}

.user-post button:hover {
  background-color: blue;
  color: white; 
}

  
  