.user-post {
  display:grid;
  flex-direction: column;
  max-width: 30px;
  position: center;
 
  border-color: black;
  border: 10px solid #ccc;
  border-radius: 10px;
  margin-left: 300px;
  padding-inline-end: 850px;
  padding-inline-start: 10px;
  

  
 
}

.user-post label {
  font-weight: bold;
  margin-bottom: 4px;
}

.user-post input{
  padding: 8px;
  margin-bottom: 15px;
}
 .user-post button {
  padding: 8px 12px;
  background-color:aliceblue;
  border: 1px solid #ccc;
  border-radius: 2px;
  cursor: pointer;
  font-weight: bold;
 }

 .user-post button:hover {
  background-color:blue;
 }
 .btn-primary {
  background-color:blue;
  font-size: small;
  
  font-family:cursive;
  color:black;
  margin-left: 780px;
}
  
  