.user-post {
  display:grid;
  flex-direction: column;
  max-width: 30px;
  position: center;
  padding-left: 300px;

  
 
}

.user-post label {
  font-weight: bold;
  margin-bottom: 4px;
}

.user-post input,
.user-post textarea {
  padding: 8px;
  margin-bottom: 12px;
}
 .user-post button {
  padding: 8px 12px;
  background-color:aliceblue;
  border: 1px solid #ccc;
  border-radius: 2px;
  cursor: pointer;
  font-weight: bold;
 }

 .user-post button:hover {
  background-color:blue;
 }
 .btn-primary {
  background-color:blue;
  font-size: small;
  
  font-family:cursive;
  color:black;
  margin-left: 780px;
}
  
  