.user {
    color:blueviolet;
    font-size: smaller;
  }

  .posts {
    color:blue;
    font-size: smaller;
  }
  
  .card {
    padding: 2rem;
    
    text-align:left;
    transition: 0.3s;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  
  